@tailwind base;
@tailwind components;
@tailwind utilities;

/* Project base overrides */
:root {
  --root-bg: #0f172a;
}

html,
body,
#root {
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
}